homework5-writing.aux
homework5-writing.bbl
homework5-writing.bcf
homework5-writing.fdb_latexmk
homework5-writing.fls
homework5-writing.log
homework5-writing.pdf
homework5-writing.run.xml
homework5-writing.synctex.gz
homework5-writing.blg
